.content {
  &__controls {
    flex-shrink: 0;
    margin-bottom: 8px;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  @media (max-width: 768px) {
    padding: 16px 8px;
  }

  &__views {
    margin: 0 4px;

    @media (max-width: 860px) {
      margin: 0;
    }
  }

  &__search {
  }
}