.body {
  &__month {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.month {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__weekdays {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 8px;
  }

  &__weekday {
    flex: 1 0 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #323232;
    text-transform: uppercase;
    text-align: center;
  }

  &__weeks {
   list-style: none;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   position: relative;
   width: 100%;
  }
}