.month {
  &__events {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.month-events {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 25px;
  height: 100%;
  list-style: none;

  @media (max-width: 768px) {
    padding-top: 21px;
  }

  &__line {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    @media (max-height: 400px) {
      display: none;
    }

    &:not(:last-child) {
      padding-bottom: 1px;
    }

    &_more {
      flex-grow: 1;
      position: absolute;
      bottom: 0;
    }
  }

  &__item {
    flex-shrink: 0;
    
    &_hidden {
      visibility: hidden;
    }

    &_absolute {
      position: absolute;
      z-index: 1000;
    }

    &_size {
      &-1 {
        width: calc(100% / 7);
      }

      &-2 {
        width: calc(100% / 7 * 2);
      }

      &-3 {
        width: calc(100% / 7 * 3);
      }

      &-4 {
        width: calc(100% / 7 * 4);
      }

      &-5 {
        width: calc(100% / 7 * 5);
      }

      &-6 {
        width: calc(100% / 7 * 6);
      }

      &-7 {
        width: 100%;
      }
    }
  }

  &__offset {
    display: flex;
    height: 100%;

    &_1 {
      width: calc(100% / 7);
    }

    &_2 {
      width: calc(100% / 7 * 2);
    }

    &_3 {
      width: calc(100% / 7 * 3);
    }

    &_4 {
      width: calc(100% / 7 * 4);
    }

    &_5 {
      width: calc(100% / 7 * 5);
    }

    &_6 {
      width: calc(100% / 7 * 6);
    }

    &_7 {
      width: 100%;
    }
  }

  &__more {
    display: flex;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    width: calc(100% / 7);
    z-index: 1;
  }

  &__more-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #323223;
    cursor: pointer;

    @media (max-width: 768px) {
      font-size: 9px;
      line-height: 14px;
    }
  }
}

.month-event {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 3px;
  z-index: 1;

  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .8;
    background-color: #e6e6e6;
    z-index: -1;
  }

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #323232;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (max-width: 768px) {
      font-size: 11px;
    }
  }
}