.weekdays {
	
	&__list {
		list-style: none;
		display: flex;
		flex-wrap: nowrap;
		border-bottom: none;

		&_week {
      padding-left: 60px;
		}

		&_mini {
			justify-content: space-around;
		}

	}

	&__item_mini {
		display: flex;
		justify-content: center;
		font-family: 'Open Sans', sans-serif;
		font-weight: 200;
		font-size: 11px;
		text-transform: uppercase;
		color: #808080;
		width: 26px;
	}
}

.weekdays {

	&__list {
		list-style: none;
		display: flex;
		flex-wrap: nowrap;
		border-bottom: none;

		&_week {
      padding-left: 60px;
		}
	}

	&__item {
		flex-grow: 1;

		&_month {
			text-transform: uppercase;
			width: 14.28%;
			min-width: 100px;
			padding-left: 10px;
		}
	}
}

.mini {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 10px;

	&__item {
		margin-top: 10px;
		display: flex;
		flex-grow: 0;
	}

	&__week {
		list-style: none;
		flex-grow: 1;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;

		&_active {
			background-color: rgba(255, 255, 255, .1);
			border-radius: 13px;
		}
	}

	&__day {
		flex-grow: 0;
		position: relative;
		cursor: pointer;
		font-size: 12px;
		height: 21px;
		width: 26px;

		&:hover .mini-day__num {
			background-color: lighten(#1f97fc, 5%);
		}

		&_active .mini-day__num {
			background-color: #1f97fc;
		}

		&_today .mini-day__num {
			box-shadow: 0 0 0 1px #1f97fc;
		}
	}

	&-day {
		display: flex;
		justify-content: center;
		align-items: center;

		&__num {
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: 'Open Sans', sans-serif;
			font-size: 11px;
			color: #fff;
			position: absolute;
			top: -3px;
			left: 0;
			border-radius: 50%;
			width: 26px;
			height: 26px;
			transition: .2s;
		}
	}
}