.sidebar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #323232;
	border-right: 1px solid #858585;

  @media (max-width: 960px) {
    position: absolute;
    transform: translate(-232px);
    z-index: 1000;

    &.active {
      position: static;
      transform: translate(0);
      width: 280px;
    }
  }
}