.sidebar {
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100%;
  background-color: #323232;
  transition: .3s;

  @media (max-width: 1070px) {
    width: 280px;
    position: absolute;
    transform: translate(-280px);
    z-index: 1000;

    &.active {
      position: static;
      transform: translate(0);
    }
  }
}