body, ul, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
	overflow: hidden;
}

ul, li {
	list-style: none;
}

input, textarea {
	outline: none;
}

.view {
	height: 100%;
}

.app {
	height: 100%;
	animation: app-opacity .2s linear;
}

@keyframes app-opacity {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.waiting {
	position: fixed;
	left: 0;
	right: 0;
	height: 100%;

	&__spinner {
		position: absolute;
		top: 40%;
		left: calc(50% - 40px);
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 10px solid;
		border-color: #fff #999;
		animation-name: app-waiting;
		animation-duration: 0.7s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
}

@keyframes app-waiting {
	0% {transform: rotate(0deg)}
	100% {transform: rotate(360deg)}
}

.content {
	display: flex;
	height: 100%;

	&__main {
		box-sizing: border-box;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		height: 100%;
  	width: calc(100% - 280px);
	}

	&__sidebar {
		flex-grow: 0;
		flex-shrink: 0;
		width: 280px;
	}
}

.message {
	position: absolute;
	bottom: 37px;
	right: 10px;
	font-size: 13px;
	padding: 3px 8px;
	background-color: #fff;
	border-radius: 2px;

	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: -4px;
		left: 50%;
		border: 4px solid #fff;
		transform: rotate(45deg);
		z-index: 1;
	}

	&_error {
		color: #f0403c;
		border: 1px solid #f0403c;

		&:after {
			box-shadow: 1px 1px 0 0 #f0403c;
		}
	}

	&_warning {
		color: #1f97fc;
		border: 1px solid #1f97fc;

		&:after {
			box-shadow: 1px 1px 0 0 #1f97fc;
		}
	}
}

.mouse-events-off {
  pointer-events: none;
}