.events {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	&__date {
		padding: 0 0 12px 8px;
		font-family: 'Open Sans', sans-serif;
		font-size: 17px;
		color: #fff;
		font-weight: 400;

		@media (max-height: 400px) {
			padding: 0 0 4px 4px;
		}
	}

	&__scroll-container {
		flex-grow: 1;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: hidden;
	}

	&__scrollbar {
		flex-grow: 1;
		display: flex;
		flex-direction: column;

		.gm-scroll-view {
			flex: 1 0;
		}
	}

	&__list {
		flex-grow: 1;
		padding-right: 10px;
	}

	&__spinner-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	&__spinner {
		display: block;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		border: 4px solid;
		border-color: #fff #999;
		animation-name: events-spinner;
		animation-duration: 0.7s;
		animation-timing-function: linear;
	  animation-iteration-count: infinite;
	}

	&__loading {
		display: block;
		margin-top: 8px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 200;
		font-size: 16px;
		color: #fff;

		&:after {
			content: '.';
			animation-name: events-loading;
			animation-duration: 0.7s;
			animation-timing-function: linear;
		  animation-iteration-count: infinite;
		}
	}

	&__empty {
		padding: 0 8px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 14px;
		color: #fff;
	}
}

@keyframes events-spinner {
	0% {transform: rotate(0deg)}
	100% {transform: rotate(360deg)}
}

@keyframes events-loading {
	33% {content: '..'}
	66% {content: '...'}
}