.events {
  &__group-select {
    margin: 0 8px 16px;

    @media (max-width: 700px) {
      margin: 0 24px 16px;
    }
  }
}

.group-select {
  &__label {
    margin-left: -6px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-decoration: none;
  }

  &__remove {
    margin-right: 4px;
    font-size: 14px;
    color: #323232;
    cursor: pointer;

    &:hover {
      color: #D0021B;
    }
  }

  &__change {
    margin-right: 4px;
    padding: 2px 4px 2px 0;
    font-size: 16px;
    color: #323232;
    cursor: pointer;
    border-right: 1px solid #999;

    &:hover {
      color: #D0021B;
    }
  }

  &__text {
    flex-grow: 1;
    padding-left: 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #323232;
  }

  &__color {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 8px;
    opacity: .8;
  }

  &.Select {
    width: auto;
  }

  .Select-control {
    border-radius: 2px;
  }

  .Select-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #999;
  }

  .Select-clear {
    font-size: 22px;
  }

  .Select-arrow-zone {
    padding-right: 0;
    width: 24px;
  }

  &.events__group-select.has-value.Select--single > .Select-control .Select-value a.Select-value-label {
    cursor: default;
  }

  &.events__group-select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover {
    text-decoration: none;
  }

  .Select-input {
    width: 0;
    padding: 0;
  }

  .Select-menu-outer {
    width: 100%;
    border-radius: 0 0 2px 2px;
  }

  .Select-option {
    &:hover {
      background-color: darken(#fff, 5%);
    }

    &.is-selected {
      background-color: #fff;
      color: #fff;
      
      &:hover {
        background-color: darken(#fff, 5%);
      }
    }

    &.is-focused {
      background-color:#fff;
      color: #fff;
      
      &:hover {
        background-color: darken(#fff, 5%);
      }
    }

    &.is-disabled {
      color: #fff;
      cursor: default;
      
      &:hover {
        background-color: darken(#fff, 5%);
      }
    }
  }
}

.group-option {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  &__text {
    flex-grow: 1;
    padding-left: 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #323232;
  }

  &__color {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 4px;
    opacity: .8;
  }
}