.search-results {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	&__head {
		margin-bottom: 8px;
		padding: 0 10px;
		font-family: 'Open Sans', sans-serif;
		font-size: 17px;
		font-weight: 400;
		color: #fff;
		word-break: break-all;
	}

	&__scroll-container {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: hidden;
	}

	&__scrollbar {
		flex-grow: 1;
		display: flex;
		flex-direction: column;

		.gm-scroll-view {
			flex: 1 0;
		}
	}

	&__list {
		padding: 0 10px 0 5px;
	}

	&__item {
		font-family: 'Open Sans', sans-serif;
		font-size: 13px;
		font-weight: 400;
		color: #fff;
	}
}