.year {
	display: flex;
	width: 100%;
	padding: 32px 8px 48px;

	&__list {
		flex-grow: 1;
		display: flex;
		flex-wrap: wrap;
		align-content: space-between;
		justify-content: space-around;
		margin: 0 20px;

		@media (max-width: 1060px) {
			margin: 0;
			padding: 64px 0;
		}
	}

	&__item {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 10px;
		height: 30%;
		width: 22%;
		background-color: #f9f9f9;
		transition: .3s;
		cursor: pointer;
		overflow: hidden;

		&:hover {
			background-color: darken(#f9f9f9, 5%);
		}

		&_active {
			background-color: #bde2ff;

			&:hover {
				background-color:  darken(#bde2ff, 10%);
			}
		}
	}

	&__arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 8%;
		color: #808080;
		font-size: 36px;
		cursor: pointer;
		transition: .3s;

		&:hover {
			color: darken(#808080, 50%);
		}
	}

	&__title {
		font-family: 'Open Sans', sans-serif;
		font-size: 26px;
		font-weight: 600;
		color: #323232;

		@media (max-width: 1060px) {
			font-size: 20px;
		}
	}

	&__full-year {
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		font-weight: 600;
		color: #323232;

		@media (max-width: 1060px) {
			font-size: 16px;
		}
	}

	&__events {
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		font-weight: 600;
		color: #323232;
		text-align: center;

		@media (max-width: 1060px) {
			font-size: 13px;
		}

		&-count {
			color: #f0403c;
		}
	}
}