$arrColor: #323232;
$actColor: #1f97fc;
$actBackColor: #bde2ff;
$backColor: #f9f9f9;
$borderColor: #dbdbdb;

.year {
	display: flex;
	width: 100%;
	padding-bottom: 20px;

	&__list {
		flex-grow: 1;
		display: flex;
		flex-wrap: wrap;
		align-content: space-between;
		justify-content: space-around;
		width: 70%;
		margin: 0 20px;
	}

	&__item {
		height: 30%;
		width: 22%;
		overflow: hidden;
	}

	&__arr {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 8%;
		color: $arrColor;
		font-size: 36px;
		cursor: pointer;
		transition: .2s;

		&:hover {
			color: darken($arrColor, 20%);
			background-color: darken(#fff, 5%);
		}
	}
}

.y-month {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: .3s;
	background-color: $backColor;
	cursor: pointer;
	padding: 10px;
	box-shadow: none;

	&:hover {
		box-shadow: 0 0 0 1px darken($borderColor, 10%);
		background-color: darken($backColor, 5%);
	}

	&_active {
		border-color: $actColor;
		background-color: $actBackColor;

		&:hover {
			box-shadow: 0 0 0 1px darken($actColor, 20%);
			background-color:  darken($actBackColor, 10%);
		}
	}

	&__title {
		font-family: 'Open Sans', sans-serif;
		font-size: 26px;
		font-weight: 600;
		color: #000;
	}

	&__year {
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		font-weight: 600;
		color: #323232;
	}

	&__events {
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		font-weight: 600;
		color: #323232;
		text-align: center;

		&-count {
			color: #f0403c;
		}
	}
}